.navbar{
	height: 8vh;
    padding: 0 20px 0 20px;
}


.container-first {
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
    height: 84vh;
    background-image: linear-gradient(to bottom, rgba(214, 209, 202, 1), rgba(91, 99, 107, 1));
}
.scroll-container {
    
    width: 100%;
    overflow-x: auto; /* Agrega una barra de desplazamiento horizontal cuando sea necesario */
    white-space: nowrap; /* Evita que las tarjetas se dividan en varias líneas */
    position: fixed;
    bottom: 0;
    left: 0;
}
.sortable-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 10px;
    padding-left:10px;
}
.content-list {
    display: flex;
    flex-direction: row;
}
  
.col-list {
    width: 300px;
    flex-shrink: 0;
    border-radius: 12px;
    margin-right: 8px;
    padding: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto; 
    background-color: black;

}


/* Estilo para navegadores basados en Webkit (como Chrome y Safari) */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    border-radius: 4px;
    color: rgba(29, 33, 37, 0.2);
}
  
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.082); /* Color de fondo de la pista de desplazamiento */
    border-radius: 4px;
}
  
::-webkit-scrollbar-thumb {
    background: #888; /* Color del "pulgarcito" de la barra de desplazamiento */
    border-radius: 4px; /* Radio de borde del pulgarcito */
}

::-webkit-scrollbar {
    height: 8px;
}

.card-1 {
    background-color: #1D2125; 
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    max-height: 70vh;
    overflow-y: auto;
}
  

.card-title {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    max-height: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    letter-spacing: 0.5px;
    
}
  
.card-body p {
    color: white;
    font-size: 18px;
}
  
.card-body a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.button-add button {
  width: 300px;
  height: 50px;
  margin-right: 20px;
  padding: 8px;
  font-size: 20px;
  text-align: left;
  color: white;
  font-weight: 400;
  background-color: rgba(29, 33, 37, 0.7);
  border-radius: 3px;
  border-color: transparent;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.button-add .plus{
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  color: white;
  margin-left: 5px;
  margin-right: 6px;
}

.modal-buttons button {
    margin: 0 5px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.confirm-logout {
    background-color: #833982;
    color: #fff;
    border: none;
}

.cancel-logout {
    background-color: black;
    color: #fff;
    border: none;
}


.button-card button {
    width: 100%;
    height: 3vh;
    padding: 8px;
    font-size: 18px;
    text-align: left;
    color: white;
    font-weight: 300;
    background-color: #1D2125;
    border-radius: 4px;
    border-color: transparent;
    display: flex;
    align-items: center;
}


.button-card span {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: white;
    margin-left: 5px;
    margin-right: 6px;
}

.button-card:hover button {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 500;
}

.button-card:hover span {
    color: black;
    font-weight: 500;
}

.button-card button {
    width: 100%;
    height: 4vh;
    padding: 8px;
    font-size: 15px;
    text-align: left;
    color: white;
    font-weight: 300;
    background-color: #1D2125;
    border-radius: 4px;
    border-color: transparent;
    display: flex;
    align-items: center;
}


.button-card span {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: white;
    margin-left: 5px;
    margin-right: 6px;
}

.button-card:hover button {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-weight: 500;
}

.button-card:hover span {
    color: black;
    font-weight: 500;
}
.card-content{
    padding: 0px;


}
.content-task{
    padding:0px;
    width: auto;
    text-align: left;
    background-color: #2E3236;
    border-radius: 4px;
    border-color: transparent;
    align-items: center;

}
.content-task span {
    font-size: 18px;
    color: white;
    margin-left: 6px;            
  }
.content-task:hover {
    background-color: #697077;
    }
.card-body1{

    text-align: center;
    padding: 0;
    margin: 0;
}
.card{
    border-color: transparent;
}
.card-img-top{
    max-width: 60%;
    max-height: 60%;
    object-fit: contain;

}
.content-task img,
.content-task span {
    display: block;
    margin-bottom: 5px; 
}

.img-card{
    max-width: 16%;
    max-height: 16%;
    object-fit: contain;
}

.window-module {
    clear: both;
    margin-bottom: 24px;
    position: relative;
    
}
  
.card-detail-activity {
    justify-content: space-between;
    border-bottom: none;
    align-items: center;
    display: flex;
    min-height: 32px;
}
  
.card-detail-activity {
    flex-direction: row;
    border-bottom: none;
    min-height: 32px;
    margin-right: 15px; /* espacio entre icon y */    
    margin-left: 4px;
    min-height: 32px;
}
  
.window-module-title-icon {
    top: 8px;
    left:-40px;
}
  
.icon-ig {
    height: 32px;
    line-height: 32px;
    width: 32px
}
.card-detail-activity h3 {
    display: inline-block;
    font-size: 16px;
    margin: 0;
    min-height: 18px;
    min-width: 40px;
    width: auto;
}
  
.windows-module-title-options {
    float: right;
    margin-right: 4px;
}
  
.button-add-file {
    margin: 0;
}
  
.button-complete {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    white-space: normal;
    background-color: inherit;
    box-shadow: none;
    color: black;
}
  
.u-gutter {
    margin-left: 40px;
}
  
.u-clearfix {
    display: block;
}
  
  
.attachment-thumbnail {
    border-radius: 3px;
    margin: 0 0 8px;
    min-height: 80px;
    overflow: hidden;
    position: relative;
}
.attachment-thumbnail:hover {
    background-color: #758284;
    color: black;
}
  
.attachment-thumbnail-preview {
    background-color: #2E3236;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 3px;
    height: 80px;
    left: 0;
    margin-top: -40px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    width: 112px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    font-weight: 400;
}
.attachment-thumbnail-preview:hover {
    background-color: #697077;
    color: white;
    cursor: pointer;

}
  
  
.attachment-thumbnail-details {
    box-sizing: border-box;
    cursor: auto;
    margin: 0;
    min-height: 80px;
    padding: 8px 8px 8px 128px;
    z-index: 0;
}
  
.attachment-thumbnail-name {
    word-wrap: break-word;
    font-weight: 700;
}
  
.attachment-thumbnail-details-title-options {
    margin-bottom: 8px;
    color: black;
    display: block
}
  
.attachment-thumbnail-details-tittle-options-item {
    font-size: 14px;
    margin-bottom: 8px;
    text-decoration: none;
}
  
.attachment-thumbnail-details-options-item-text {
    font-size: 14px;
    color: black;
}
.attachment-thumbnail-name-file {
    color:black;
    text-decoration: none;
}
.button-edit{
    border: none;
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;
}
.button-edit:hover{
    color: #833982;
}
.button-edit-list{
    border: none;
    border-color: transparent;
    background-color: transparent;
    font-size: 20px;
}
.button-edit-list:hover{
    color: white;
}
.buttons-save-js{
    background-color: #833982;
    color: white;
    margin-left: 4px;
    margin-right: 6px;
    font-weight: 400;
    border-color: transparent;
    border-radius: 4px;

}
.buttons-cancel-js{
    background-color: black;
    color: white;
    font-weight: 400;
    border-color: transparent;
    border-radius: 4px;
}
.add-image-card {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 4px;
    font-size: 16px;
    font-weight: 200;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
.custom-file-upload:hover {
    background-color: #758284;
    font-weight: 300;
}
  
  
.after-button {
    display: inline-block;
    font-size: 16px;
    border: 2px solid #833982;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    color: white;
    font-weight: 200;
    background-color: #833982;
    transition: background-color 0.3s ease;
  }
  
.after-button:hover {
    background-color: #b14eb0;
    font-weight: 300;
}
.modal-second-deep {
    background-color: #dedede;
    color: black;
  }
.modal-second-border {
    border-bottom: 2px solid #cfcfcf;
  }

.add-image-card input[type="file"]::file-selector-button {
    font-weight: bold;
    color: white;
    background-color: black; 
    border: 0.1px solid black;
    border-radius: 5px; 
    padding: 5px 10px; 
    cursor: pointer; 
}
.list-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}


/* Estilos para la barra de desplazamiento vertical */
.scroll-vertical {
    /* Cambia el color de fondo de la barra de desplazamiento vertical */
    scrollbar-color: #f1f1f1 #333;
    /* Cambia el ancho de la barra de desplazamiento vertical */
    scrollbar-width: thin;
    /* Cambia el color del borde de la barra de desplazamiento vertical */
    border: 2px solid #ccc;
    /* Cambia el radio de los bordes de la barra de desplazamiento (thumb) vertical */
    border-radius: 5px;
}
.button-trash i{
    color: #101214;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.button-trash i:hover{
    color: white;
}


.button-trash-card{
    color: black;
}

.button-trash-card i:hover{
    color: #833982;
}

.editable-field-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-right: 2px; 
}

.field-text-list {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.editable-field-card {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-right: 2px; 
}

.field-text-card {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.favorite {
    text-align: left;

}

.favorite .star {
    font-size: 24px;
    color: #f8b400;
    margin-left: 5px;
}



.favorite a {
    text-decoration: none;
}

.button-edit-board {
    font-weight: 300;
    border: none;
    border-color: transparent;
    color: black;
    background: none;
}

.button-edit-board:hover {
    color: #1D2125;
    text-decoration: none;
}


.content-comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: left;
}

.area-comment {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: .5rem;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1);
    border-radius: 10px;
}

.avatar {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #F4F4F4;
    border-radius: 50%;
    overflow: hidden;
}


.inputs-comments {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: .5rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.name-user {
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    margin: 1px 0 4px 0;
}

.user-comment {
    display: block;
    text-align: left;
    font-family: sans-serif;
    flex-direction: row;
    font-size: 13px;
    margin: 10px 0 5px 0;
    max-width: 680px;
    word-wrap: break-word;
}


.modal-buttons-send {
      
    padding: 8px 16px;
    text-align: right;
}
.modal-buttons-send button{
    border-radius: 4px;
    cursor: pointer;
}
.date-created-commet{
    font-size: 10px;
}
.delete-comment{
    background-color: transparent;
    border: none;
    font-size: 12px;
    padding: 0;
    font-weight: 200;
    position: absolute;
    top: 0;
    right: 0;
}
.navbar-second{
    background-color: rgba(159, 154, 147, 1);
}





  /* Estilos personalizados para la opción seleccionada */
  .nav-item.active {
    background-color: #833982;
    /* Cambia el color de fondo a tu preferencia */
}

.nav-item a {
    color: black;
}

.nav-link.active {
    color: white;
    /* Cambia el color del texto a tu preferencia */
}

.nav-link:hover {
    --bs-nav-link-hover-color: black;
    /* Cambia el color a tu preferencia */
}

.container {
    margin-top: 20px;
}

.card-body {
    padding: 0;
}

.work-space {
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin-top: 2px;
}

.button-more {
    float: right;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.modal-buttons button {
    margin: 0 5px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.confirm-logout {
    font-weight: 500;
    background-color: #833982;
    color: #fff;
    border: none;
}

.cancel-logout {
    background-color: black;
    color: #fff;
    border: none;
}

.form-group label {
    margin-bottom: 8px;
    margin-top: 8px;
    font-weight: 600;
}

hr {
    margin: 0;
    padding: 0;
}

.optional {
    color: #44546f;
    font-size: 12px;
    font-weight: 100;
}

::placeholder {
    letter-spacing: 2px;
    color: rgb(148, 146, 146);
    font-size: 12px;
}

.button-down {
    margin-top: 4px;
    min-height: 24px;
    padding: 4px 8px 4px 40px;
    width: 100%;
}

.dropdown-menu {
    Padding: 4px 8px;
    width: 100%;
}

.button-select {
    background-color: rgba(131, 57, 130, 0.9);
    color: #fff;
    border-radius: 2px;
    border-color: #6c757d;
    transition: background-color 0.3s ease;
}

.button-select:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
}

.div-workspace {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.space-center {
    padding: 15px;
    margin: 0 20px 0 20px;

}

.div-workspace h3 {
    font-size: 22px;
    color: #e6e6e6;
}

.star {
    color: yellow;
    font-size: 30px;
}

.titleboard{
    text-align: left;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 2px;
    text-indent: 4px;
}
.titleboard h5{
  font-size: 14px;
  color: white;
}

.favorite {
    position: absolute;
    bottom: 0;
    right: 0;

}

.favorite .star {
    font-size: 24px;
    color: #f8b400;
    margin-left: 5px;
}


.favorite a {
    text-decoration: none;
}

.nolink {
    text-decoration: none;
}

.card-size {
    padding: 4px;
    background: #1D2125;
    height: 80px;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
}

.description span {
    font-size: 18px;
}

body {
    background-color: #61616159;
}

.content-workspace {
    background-color: #4a4a4ad0;
}

.menu-navbar {
    background-color: #4a4a4ad0;
}

.card-title {
    color: #e6e6e6;
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    max-height: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
}

.create-board:hover {
    background-color: #ffffff;
    color: black;
    border: none;
}

.list-group a{
  color: black;
}
.list-group-item{
  background-color: #4a4a4ad0;
  border: none;
}
.list-group-item:hover{
  background-color: #833982;
  color: white;
}

.collapse li:hover {
  background: #b455b3; /*Color hover lista desplegable */
}

